body{
    font-family:sans-serif; color:rgb(56, 51, 51); background-color:rgb(218, 218, 218);
}


div{
    width:980px; margin-left:auto; margin-right:auto;
}


h3{
    font-variant: small-caps;
}

h4{
    font-variant: small-caps;
}

#part1{
    font-weight: bold;
}

hr{
    height:3px;border-width:0;color:rgb(63, 68, 120);background-color:rgb(63, 82, 120)
}


#subtitle{
    background-color: black; color: white; font-variant: small-caps;
}


#question{
    font-weight:normal;
}

#highlight{
    font-weight: bold;
}